.tablegrid img.icon{
	height: 20px;
	cursor: pointer;
	margin: 0 15px;
}

.selected{
	background: #e8e8e8;
}

.squart-inside{
	height: 500px !important;
  	overflow: scroll;
  	overflow-x: auto;
  	box-shadow: inset 0px 0px 233px #8B8B8B;
}